/* ---css reset--- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* ===================COMMON SECTION START==================== */
/* ---Common For a tag and li--- */
a {
    text-decoration: none;
}

li {
    list-style: none;
}
/* ---End--- */
/* ----Common for buttons--- */
.btn-1 {
    transition: ease-in all 0.5s;
}

.btn-1:hover {
    background-color: #fe0101 !important;
}

/* ----Common Hover Effect For Cards and About image---- */
.img-hover img {
    transition: 0.7s;
}

.img-hover img:hover {
    overflow: hidden;
    transform: scale(1.2);
}

/* ---End--- */
/* ---End--- */
/* ===================COMMON SECTION END==================== */

/* ---Navbar Section Start--- */
#navbar .nav-item a {
    transition: 0.5s !important;
    font-size: 18px;
    font-weight: 500;
    color: black !important;
}

#navbar .nav-item a:hover {
    color: red !important;
}

.cool-link {
    display: inline-block;
    color: #000;
    text-decoration: none;
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #ee2828;
    transition: width .3s;
}

.cool-link:hover::after {
    width: 100%;
}

/* ---End--- */
/* ---Hero Section Start--- */
#hero .carousel-indicators [data-bs-target] {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

#hero .carousel-dark .carousel-indicators [data-bs-target] {
    background-color: #010000;
}
#hero .carousel-indicators .active {
    opacity: 1;
   background-color:red !important;
}
#hero .carousel-indicators {
    position: absolute;
    right: 0;
    left: -3%;
    z-index: 2;
    display: flex;
    list-style: none;
    justify-content: left;
    bottom: 8%;
    /* top: 100%; */
}

#hero .box {
    background-color: rgba(0, 0, 0, 0.8);
    height: 27vw;
    width: 30vw;
    border-left: 6px solid rgb(255, 0, 0);
    left: 15%;
    top: 24%;
}

#hero .box input {
    font-size: 22px;
    padding: 8px 20px;
    width: 90%;
    margin-left: 20px;
    outline: none;
    border: 1px solid white !important;
}

#hero .box .btn {
    background-color: red;
    padding: 10px 30px;
    margin-left: 140px;
    transition: 0.5s;
}

#hero .box .btn:hover {
    background-color: white;
    color: red !important;
}

#hero .for-button button {
    color: red;
    font-size: 18px;
    padding: 12px 26px;
    transition: 0.7s;
}

#hero .for-button button:hover {
    color: white;
    background-color: red;
}

#hero .for-button input {
    color: red;
    font-size: 18px;
    padding: 12px 26px;
}

#hero .fa-calendar-alt:before,
.fa-calendar-days:before {
    content: "\f073";
    position: absolute;
    right: 10%;
    font-size: 34px;
}

/* ---End--- */
/* ---our Room section start--- */
#ourRoom {
    margin-top: 100px;
    background-color: #f4f5f7;
}

#our-room .bgshadow {
    transition: 0.7s;
}

#our-room .bgshadow:hover {
    box-shadow: 1px 1px 10px rgba(245, 187, 230, 0.527);
}

/* ---End--- */
/* ---blog section start--- */
#blog {
    background-image: url(/assets/image/home/blog_bg.jpg);
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

/* ---End--- */

.forShadow input,
textarea {
    box-shadow: 2px 0px 6px rgba(255, 9, 9, 0.2) !important;
}

.forShadow textarea {
    box-shadow: 2px 0px 6px rgba(255, 9, 9, 0.2) !important;
}

/* ---Contact Section Start--- */
#contact .btn-2{
    padding: 12px 60px !important;
}
/* --End--- */
#footer {
    background-color: #0f1521;
    margin-top: 30px;
    padding-bottom: 50px;
}

#footer input {
    padding: 12px 20px;
}

#footer button {
    padding: 12px 20px;
    color: red;
    transition: 0.7s;
    font-weight: 600;
}

#footer button:hover {
    background-color: red;
    color: white;
}

#footer .border1 {
    border-bottom: 2px solid red;
    width: 155px;
    padding-bottom: 3px;
}

#footer .border2 {
    border-bottom: 2px solid red;
    width: 157px;
    padding-bottom: 3px;
}

#footer .border3 {
    border-bottom: 2px solid red !important;
    width: 164px;
    padding-bottom: 3px;
}

#footer ul a {
    color: white !important;
    transition: 0.5s;
}

#footer ul a:hover {
    color: red !important;
}

#copy-right {
    height: 110px;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
}

/* ================================== */
#about .for-line h1::before {
    position: absolute;
    content: '';
    background-color: red;
    width: 25px;
    height: 5px;
    rotate: -40deg;
    left: 0;
}

#about .for-line h1::after {
    position: absolute;
    content: '';
    background-color: red;
    width: 25px;
    height: 5px;
    top: 10%;
    right: 58.5%;
    rotate: -40deg;
}

#our-room .for-line-1 h1::before {
    position: absolute;
    content: '';
    background-color: red;
    width: 25px;
    height: 5px;
    left: 41%;
    rotate: -40deg;
}

#our-room .for-line-1 h1::after {
    position: absolute;
    content: '';
    background-color: red;
    width: 25px;
    height: 5px;
    top: 8.2%;
    right: 40.5%;
    rotate: -40deg;
}

#gallery .for-line-2 h1::before {
    position: absolute;
    content: '';
    background-color: red;
    width: 25px;
    height: 5px;
    left: 42.5%;
    rotate: -40deg;
}

#gallery .for-line-2 h1::after {
    position: absolute;
    content: '';
    background-color: red;
    width: 25px;
    height: 5px;
    top: 5.5%;
    right: 42.5%;
    rotate: -40deg;
}

#contact .for-line-3 h1::before {
    position: absolute;
    content: '';
    background-color: red;
    width: 25px;
    height: 5px;
    left: 39.1%;
    rotate: -40deg;
}

#contact .for-line-3 h1::after {
    position: absolute;
    content: '';
    background-color: red;
    width: 25px;
    height: 5px;
    top: 16%;
    right: 39%;
    rotate: -40deg;
}

#blog .for-line-4 h1::before {
    position: absolute;
    content: '';
    background-color: red;
    width: 25px;
    height: 5px;
    rotate: -40deg;
    left: 44.4%;
}

#blog .for-line-4 h1::after {
    position: absolute;
    content: '';
    background-color: red;
    width: 25px;
    height: 5px;
    top: 12%;
    right: 44.7%;
    rotate: -40deg;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 768px) {
    #hero .slider-image {
        height: 100vh;
        object-fit: cover;
    }

    #hero .box {
        height: auto;
        width: 90%;
        object-fit: cover;
        left: 7%;
        /* padding: 20px; */
    }

    #hero button {
        margin-left: 120px !important;
    }

    #about .for-line h1::after {
        display: none;
    }
    #about .for-line h1::before{
        display: none;
    }
    #our-room .for-line-1 h1::after {
        display: none;
    }
    #our-room .for-line-1 h1::before{
        display: none;
    }
    #gallery .for-line-2 h1::after {
        display: none;
    }
    #gallery .for-line-2 h1::before{
        display: none;
    }
    #blog .for-line-4 h1::after {
        display: none;
    }
    #blog .for-line-4 h1::before{
        display: none;
    }
    #contact .for-line-3 h1::after {
        display: none;
    }
    #contact .for-line-3 h1::before{
        display: none;
    }
}

/* ----For Tablet--- */
@media only screen and (min-device-width : 480px) and (max-device-width : 768px) {
    #hero .slider-image {
        height: 90vh;
        object-fit: cover;
    }

    #hero .box {
        height: auto;
        width: 90%;
        object-fit: cover;
        left: 7%;
        /* padding: 20px; */
    }
    #hero button {
        margin-left: 70px !important;
    }
    #hero .carousel-indicators{
        display: none;
    }
    #hero .box {
        height: auto;
        width: 45%;
        object-fit: cover;
        left: 2%;
        padding: 0px 17px;
    }
    .font1 a{
        font-size: 15px !important;
        padding: 0 !important;
    }
    
#footer .border1 {
    border-bottom: 2px solid red;
    width: 141px;
    padding-bottom: 3px;
}

#footer .border2 {
    border-bottom: 2px solid red;
    width: 142px;
    padding-bottom: 3px;
}

#footer .border3 {
    border-bottom: 2px solid red !important;
    width: 148px;
    padding-bottom: 3px;
}
}

/* ------Bottom to Top----- */
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    font-weight: 500;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    width: 60px;
    height:  60px;
    transition: 1s;
  }
  
  #myBtn:hover {
    background-color: #1b1919;
  }



  /* h1 {
    margin: 0px;
    display: block;
  }
  
  .o-fz-1 {
    font-size: 3vw;
    padding-bottom: 20px;
  }
  .c-section__title {
    position: relative;
    color: #000000;
    word-break: break-word;
    font-weight: 400;
    display: inline-block;
    margin: 0px;
    -webkit-text-stroke: 1px #f71010;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-text-fill-color: transparent;
  }
  .c-section__title::after {
    color: #000000;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 99;
    display: inline-block;
    overflow: hidden;
    width: 0%;
    white-space: pre;
    word-break: normal;
    content: attr(data-text);
    transition-timing-function: cubic-bezier(0.39, 0.13, 0.55, 0.88);
    transition-duration: 0.7s;
    transition-property: width;
    will-change: width;
    -webkit-text-fill-color: #f70202;
    -webkit-text-stroke: unset;
  }
  .c-section__link:hover .c-section__title::after {
    width: 100%;
  } */